.navbar {
  background-color: #f5f5f5 !important;
}

/* Navbar 1 */
.navbar1 {
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar1 .navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar1 .navbar-collapse .ml-auto {
  margin-left: auto;
}
/* End Navbar 1 */

/* Navbar 2 */
.navbar2 {
  left: 0;
  right: 0;
  transition: top 0.1s linear;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar2 .nav-link {
  color: #6c757d;
  transition: color 0.3s ease;
}

.navbar2 .nav-link.active {
  color: #b22222;
}

.navbar2 .nav-link:hover {
  color: #b22222;
}
/* End Navbar 2 */

/* Navbar Scrolled */
.navbar-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  color: #6c757d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: top 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar-scrolled .nav-link.active,
.navbar-scrolled .nav-link:hover {
  color: #b22222;
}

/* Search Bar Styling */
.search-bar-container {
  margin-top: 50px;
  padding: 1rem 0;
  background-color: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  transition: margin-top 0.4s ease-in-out;
}